/* permissions.component.scss */
#permissions {
    .permission-checkbox {
      margin-bottom: 10px;
  
      input[type="checkbox"] {
        margin-right: 5px;
      }
  
      .sub-permissions {
        margin-left: 20px;
  
        input[type="checkbox"] {
          margin-right: 5px;
        }
      }
    }
  }
  