<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
      <!-- @if(ticketDetail) { -->
      <span>
        <div class="row m-b-24">
          <div class="col-sm-4 d-flex align-items-center">
            <h4 class="mat-subtitle-2 f-s-18 f-w-600">#{{ laborDetails.id }}</h4>
          </div>
          <div class="col-sm-8 text-right">
            <a routerLink="/apps/labors" mat-stroked-button color="primary" class="m-r-10">Back to Labors</a>
            <!-- <a [routerLink]="['/apps/editinvoice/', invoiceDetail.id]" mat-flat-button color="primary">Edit Invoice</a> -->
          </div>
        </div>
        <!-- <mat-divider></mat-divider> -->
        <div class="row p-y-24">
          <div class="col-sm-6">
            <span class="f-w-600 f-s-15 mat-body-1"> Order Status: </span>
            <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
              {{ laborDetails.status }}
            </h6>
          </div>
          <div class="col-sm-6 text-right">
            <span class="f-w-600 f-s-15 mat-body-1"> Order Date: </span>
            <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
              {{ laborDetails.name  }}
            </h6>
          </div>
        </div>
        <!-- <mat-divider></mat-divider> -->
        <div class="row p-y-24">
          <div class="col-sm-6">
            <span class="f-w-600 f-s-15 mat-body-1"> Bill From: </span>
            <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
              <!-- {{ ticketDetail.title }} -->
            </h6>
          </div>
          <div class="col-sm-6 text-right">
            <span class="f-w-600 f-s-15 mat-body-1"> Bill To: </span>
            <!-- Additional content can go here -->
          </div>
        </div>
      </span>
    </mat-card-content>
  </mat-card>
  