.fixed-option {
  position: sticky;
  bottom: 0;
  background: rgb(224, 224, 224);
  /* Ensure the background matches the menu */
  z-index: 1;
  /* Make sure it stays on top */
}

.option-content {
  display: flex;
  align-items: center;
}

.option-content svg {
  margin-right: 8px;
  /* Adjust spacing between icon and text */
}

.table-card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: #bed6cca8;
}

.mat-table {
  width: 100%;
  overflow: hidden;
  box-shadow: none;
}

.table-card {
  .w-100{
    .no-items-found{
      background-color: white;
      border-radius: 0;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;

    }
  }
}



.mat-table th,
.mat-table td {
  // border: none;
  // padding: 12px;
  text-align: left;
}

.mat-table th {
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #bed6cca8;
}

.mat-table td {
  background-color: #fff;
  cursor: pointer;
}

.mat-table input {
  width: calc(100% - 16px);
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  font-size: inherit;
}

.mat-table input:focus {
  border: 1px solid #618a06;
  outline-color: #618a06;
}

.mat-table input:hover {
  // border: 1px solid #618a06;
  outline-style: solid;
  outline-width: 2px;
  outline-color: #618a06;
}

.mat-table .mat-header-cell {
  position: sticky;
  top: 0;
  background-color: #f5f5f5;
  font-weight: bold;
  z-index: 1;
}



.input-text {
  height: 100%;
  width: 100%;
  padding: 5px;
}

.btn {
  border: 1px solid #618a06;
  color: #618a06;
}