<mat-card class="cardWithShadow overflow-hidden">
  <mat-card-content class="p-32">
    <div class="d-flex align-items-center p-b-20">
      <mat-card-title>Total Sales</mat-card-title>
      <div class="m-l-auto">
        <mat-form-field class="theme-select" appearance="outline">
          <mat-select value="one">
            <mat-option value="one" selected>May 2023</mat-option>
            <mat-option value="two">June 2023</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="position-relative">
      <mat-divider></mat-divider>
    </div>
    <div class="d-flex d-md-block align-items-center">
      <h3 class="mat-subtitle-2 f-s-16">Sales Yearly</h3>
      <h3 class="f-s-24 f-w-500 m-l-auto">8,364,398</h3>
    </div>
    <div id="chart" class="d-flex flex-column m-t-30 position-relative">
      <apx-chart
        [series]="TotalSaleChartOption.series"
        [chart]="TotalSaleChartOption.chart"
        [legend]="TotalSaleChartOption.legend"
        [labels]="TotalSaleChartOption.labels"
        [dataLabels]="TotalSaleChartOption.dataLabels"
        [colors]="TotalSaleChartOption.colors"
        [stroke]="TotalSaleChartOption.stroke"
        [tooltip]="TotalSaleChartOption.tooltip"
        [plotOptions]="TotalSaleChartOption.plotOptions"
      ></apx-chart>
      <span class="center-icon">
        <i-feather
          name="shopping-cart"
          class="text-muted feather-30"
        ></i-feather>
      </span>
    </div>
    <div class="d-flex align-items-center justify-content-between m-t-30">
      <h6 class="mat-body-2 m-b-0 d-flex gap-6 align-items-center">
        <span class="m-r-5"
          ><i-tabler name="circle-filled" class="text-accent icon-12 d-flex"></i-tabler></span
        >2021
      </h6>
      <h6 class="mat-body-2 m-b-0 d-flex gap-6 align-items-center">
        <span class="m-r-5"
          ><i-tabler name="circle-filled" class="text-primary icon-12 d-flex"></i-tabler></span
        >2022
      </h6>
      <h6 class="mat-body-2 m-b-0 d-flex gap-6 align-items-center">
        <span class="m-r-5"
          ><i-tabler name="circle-filled" class="text-warning icon-12 d-flex"></i-tabler></span
        >2023
      </h6>
    </div>
  </mat-card-content>
</mat-card>
