h2 {
    margin-left: 10px;
    color: #1e2e62;
}

.butttons {
    display: flex;
    flex-direction: row;
    column-gap: 5px;

    button {
        padding: 5px 10px;
        background: #1e2e62;
        color: white;
        border-style: none;
        border-radius: 10px;
    }

    button:hover {
        background: #344785;
        cursor: pointer;
    }
}