<mat-card class="cardWithShadow overflow-hidden">
  <div class="row">
    @for(topcard of topcards; track topcard) {
    <div class="col-lg-3 col-sm-6 col-6 b-r-1">
      <div class="p-30">
        <button mat-fab class="bg-light-{{ topcard.color }} text-{{ topcard.color }} icon-48">
          <i-feather name="{{ topcard.icon }}" class="icon-20"></i-feather>
        </button>
        <h4 class="mat-title m-b-0 m-t-30 f-s-24 f-w-500">
          {{ topcard.title }}&nbsp;<span class="text-{{ topcard.status }} mat-body-1">{{ topcard.percent }}%</span>
        </h4>
        <small class="mat-body-1 text-muted"> {{ topcard.subtitle }} </small>
      </div>
    </div>
    }

  </div>
</mat-card>