<mat-card class="welcome-card cardWithShadow">
  <mat-card-content>
    <mat-card-title class="lh-lg mat-headline-4 f-s-18 f-w-500 m-t-4"
      >Congratulation Julia</mat-card-title
    >
    <div class="hstack align-items-end gap-6 m-t-24">
      <h4 class="f-w-600 f-s-24 m-0">$39,358</h4>
      <small class="mat-subtitle-2 m-l-10 m-b-0 m-t-10 f-w-600 d-flex"
        ><i-feather name="arrow-up-left" class="icon-14"></i-feather>+9%</small
      >
    </div>
    <div class="m-t-24 m-b-15">
      <button mat-flat-button color="primary">Download</button>
    </div>
  </mat-card-content>
</mat-card>
