<mat-card class="cardWithShadow">
  <mat-card-content class="p-y-24">
      <mat-card-title>Change Logo</mat-card-title>
      <mat-card-subtitle class="mat-body-1">Change your Logo from here</mat-card-subtitle>

      <div class="text-center m-t-24">
        <img src="/assets/images/logos/logo.png" class="rounded-circle" width="120"/>

      <div class="m-t-24">
        <button mat-flat-button color="primary" class="m-r-8">Upload</button>
        <button mat-stroked-button color="warn">Reset</button>
      </div>

        <span class="f-s-14 m-t-24 d-block">Allowed JPG, GIF or PNG. Max size of 800K</span>
      </div>
      
  </mat-card-content>
</mat-card>