.fixed-option {
    position: sticky;
    bottom: 0;
    background: rgb(224, 224, 224); /* Ensure the background matches the menu */
    z-index: 1; /* Make sure it stays on top */
  }
   
  .option-content {
    display: flex;
    align-items: center;
  }
  
  .option-content svg {
    margin-right: 8px; /* Adjust spacing between icon and text */
  }

  table {
    width: 100%;
  }
  
  input {
    width: 100%;
    box-sizing: border-box;
  }
  
  