<mat-card class="cardWithShadow">
    <mat-card-content class="p-32">
      <div class="d-flex d-md-block align-items-center">
        <mat-card-title>Revenue Updates</mat-card-title>
        <div class="m-l-auto">
          <mat-form-field class="theme-select" appearance="outline">
            <mat-select value="one">
              <mat-option value="one">May 2022</mat-option>
              <mat-option value="two">June 2022</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div id="chart" class="d-flex flex-column m-t-30">
        <apx-chart
          [series]="RevenueChartOption.series"
          [dataLabels]="RevenueChartOption.dataLabels"
          [chart]="RevenueChartOption.chart"
          [legend]="RevenueChartOption.legend"
          [xaxis]="RevenueChartOption.xaxis"
          [grid]="RevenueChartOption.grid"
          [stroke]="RevenueChartOption.stroke"
          [tooltip]="RevenueChartOption.tooltip"
          [markers]="RevenueChartOption.markers"
        ></apx-chart>
      </div>
      <div class="hstack align-items-center justify-content-center gap-10">
        <h5 class="mat-body-1 m-0 d-flex align-items-center gap-6 text-accent">
          <span class="m-r-5"
            ><i-tabler name="circle-filled" class="text-accent icon-12 d-flex"></i-tabler></span
          >Earnings
        </h5>
        <h5 class="mat-body-1 m-0 d-flex align-items-center gap-6 text-primary">
          <span class="m-r-5"
            ><i-tabler name="circle-filled" class="text-primary icon-12 d-flex"></i-tabler></span
          >Expense
        </h5>
      </div>
    </mat-card-content>
  </mat-card>
  