<mat-card class="cardWithShadow">
  <mat-card-content class="p-32 p-t-24">
    <div class="d-flex align-items-center">
      <mat-card-title>Daily Activities</mat-card-title>
      <div class="m-l-auto">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <i-feather name="more-horizontal" class="icon-20"></i-feather>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item>
            <span>Action</span>
          </button>
          <button mat-menu-item>
            <span>Another Action</span>
          </button>
          <button mat-menu-item>
            <span>Something else here</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <div class="timeline m-t-24">
      @for(stat of stats; track stat) {
      <div class="timeline-item d-flex overflow-hidden">
        <div class="time text-right mat-subtitle-1 f-s-14">{{ stat.time }}</div>
        <div class="point d-flex align-items-center">
          <span class="timeline-badge border-{{ stat.color }} m-y-8"></span>
          <span class="timline-border d-block"></span>
        </div>
        <div class="desc">
          @if(stat.subtext) {
          <span class="mat-subtitle-1 f-s-14 lh-20">{{ stat.subtext }}</span>
          }

          @if(stat.title) {
          <span class="mat-subtitle-1 f-s-14 lh-20 f-w-600 d-block">{{
            stat.title
            }}</span>
          }

          @if(stat.link) {
          <a href="#" class="text-primary text-decoration-none mat-body-1">#ML-3467</a>
          }
        </div>
      </div>
      }

    </div>
  </mat-card-content>
</mat-card>