<mat-card class="cardWithShadow overflow-hidden">
    <mat-card-content class="p-32 p-b-18">
      <div class="d-flex">
        <mat-card-title class="m-b-0">Sales Overview</mat-card-title>
  
        <div class="m-l-auto">
          <div class="d-flex align-items-center">
              <div class="d-flex align-items-center">
                <i-tabler name="circle-filled" class="text-accent icon-12 d-flex"></i-tabler>
                <div class="m-l-12 d-flex">
                  <span class="f-s-14">Ample</span>
                </div>
              </div>
              <div class="d-flex m-l-16 align-items-center">
                <i-tabler name="circle-filled" class="text-primary icon-12 d-flex"></i-tabler>
                <div class="m-l-12 d-flex">
                  <span class="f-s-14">Pixel admin</span>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="d-flex flex-column m-t-30">
        <apx-chart
          [series]="SalesChartOption.series"
          [dataLabels]="SalesChartOption.dataLabels"
          [chart]="SalesChartOption.chart"
          [legend]="SalesChartOption.legend"
          [xaxis]="SalesChartOption.xaxis"
          [yaxis]="SalesChartOption.yaxis"
          [grid]="SalesChartOption.grid"
          [stroke]="SalesChartOption.stroke"
          [tooltip]="SalesChartOption.tooltip"
          [plotOptions]="SalesChartOption.plotOptions"
        ></apx-chart>
      </div>
    </mat-card-content>
    
  </mat-card>
  