// ADD OR UPDATE (FIRST DIV
.cardWithShadow {
    .Buttons_div{
        width: 100%;
        display: flex;
        justify-content: flex-end;

        .TwoButtons {
            display: flex;
            flex-direction: row;
            column-gap: 10px;
        }
    }

    .generate_code_button{
        cursor: pointer;
    }

    .barcode_svg {
        margin: 0 10px;
    }

}

// <!-- WHOLE TABLE -->
.cardWithShadow {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px 15px;

        .filter-div{
            display: flex;
            flex-direction: row;
            column-gap: 10px;
            justify-content: flex-end;
            align-items: flex-end;

            div {
                padding: 0;
            }
        }
    }

    .table-responsive {
        table {

            .icon_th {
                font-weight: 600;
                padding: 0;
                cursor: pointer;
            }
    
            th {
                font-weight: 600;
                padding: 0;
            }
    
            td {
                padding: 0;
                cursor: pointer;
                font-size: 14px;
            }
    
            .action-link {
                a{
                    margin-right: 10px;
                    cursor: pointer;
                    padding: 0;
                }
    
            }

            .details-container {
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                align-items: flex-start;
                justify-content: flex-start;
                border: 1px solid #dee2e6;
                padding: 10px;
                width: 100%;
            
                .detail-body {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: space-between;
            
                    .col-md-4 {
                        .detail-field {
                            margin-bottom: 0.5rem;
                        }
                        .QR {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                        }
                    }
                }
            
                .btns-div {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    column-gap: 10px;
                    align-items: flex-end;
                    justify-content: flex-end;
                    .invoice-btn {
                        background-color: #147e21fb;
                        border-style: none;
                        padding: 10px;
                        border-radius: 10px;
                        color: white;
                    }
            
                    .invoice-btn:hover {
                        cursor: pointer;
                        background-color: #79af8dfb;
                        color: rgb(5, 78, 53);
                    }
                }
            }

        
        }
    
    }
    
}

tr.example-detail-row {
    height: 0;
}
  
.example-element-row td {
    border-bottom-width: 0;
}


@media (max-width: 800px) {
    .InputsWholeRow{
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        .inputsInAdd{
            display: flex;
            flex-direction: column;
            row-gap: 5px;
    
            section{
                display: flex;
                flex-direction: row;
                column-gap: 5px;
                width: 100%;
                div {
                    width: 100%;
                    input, select{
                        width: 100%;
                        border:  1px solid lightgray;
                        border-radius: 10px;
                        padding: 10px 5px;
                     }
                }
            }
    
        }
        
        div {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            min-width: 100px;
        }
    
        .TwoButtons {
            display: flex;
            flex-direction: row;
            column-gap: 10px;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
        }
  
    
    }

}

@media (max-width: 600px) {
    .cardWithShadow {
        header {
            display: flex;
            flex-direction: column;

            .filter-div{
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
            }
        }
    }
      
}

@media (max-width: 350px) {
    .InputsWholeRow{
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        .inputsInAdd{
            display: flex;
            flex-direction: column;
            row-gap: 5px;
    
            section{
                display: flex;
                flex-direction: column;
                row-gap: 5px;
                width: 100%;
                div {
                    width: 100%;
                    input, select{
                        width: 100%;
                        border:  1px solid lightgray;
                        border-radius: 10px;
                        padding: 10px 5px;
                     }
                }
            }
    
        }

    }
}




  