<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
      <div class="row justify-content-between">
  
        <div class="col-lg-4">
          <mat-form-field appearance="outline" class="w-100 hide-hint">
            <input matInput placeholder="Search Admin" (keyup)="APPLY_FILTER($any($event.target).value)"/>
            <mat-icon matSuffix>
              <i-tabler name="search" class="icon-20"></i-tabler>
            </mat-icon>
          </mat-form-field>
        </div>
  
        <div class="col-lg-4 d-flex align-items-center justify-content-end">
          <button mat-flat-button (click)="OPEN_DIALOG('Add', {})" color="primary">
            Add Admin
          </button>
        </div>
  
      </div>
    </mat-card-content>
  </mat-card>
  
  
  <mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
      <div class="table-responsive">
        <table mat-table [dataSource]="admins" class="w-100">
          <!-- First Name Column -->
          <ng-container matColumnDef="firstname">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">First Name</th>
            <td mat-cell *matCellDef="let admin" class="f-s-14">{{ admin.firstname }}</td>
          </ng-container>
  
          <!-- Last Name Column -->
          <ng-container matColumnDef="lastname">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Last Name</th>
            <td mat-cell *matCellDef="let admin" class="f-s-14">{{ admin.lastname }}</td>
          </ng-container>

            <!-- First Name Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">email</th>
              <td mat-cell *matCellDef="let admin" class="f-s-14">{{ admin.email }}</td>
            </ng-container>
    
          <!-- Last Name Column -->
          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">phone</th>
            <td mat-cell *matCellDef="let admin" class="f-s-14">{{ admin.phone }}</td>
          </ng-container>
  
          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Action</th>
            <td mat-cell *matCellDef="let admin" class="action-link">
              <a (click)="OPEN_DIALOG('Update', admin)" class="m-r-10 cursor-pointer">
                <i-tabler name="edit" class="icon-18"></i-tabler>
              </a>
              <a (click)="OPEN_DIALOG('Delete', admin)" class="m-r-10 cursor-pointer">
                <i-tabler name="trash" class="icon-18"></i-tabler>
              </a>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      
        <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

    </mat-card-content>
  </mat-card>