<mat-calendar [selected]="selectedDate" (selectedChange)="onDateChange($event)" class="date-range-calendar">
    <ng-container *matCalendarCellCssClasses="let date">
      <div
       [ngClass]="{ 'selected-range': isInRange(date), 'start-range': rangeStart === rangeStart, 'end-range': date === rangeEnd }">
        {{ date.getDate() }}
      </div>
    </ng-container>
  </mat-calendar>
  
  <div *ngIf="dateRange" class="date-range-text">
    Selected Date Range:
     <span> {{ dateRange.startDate | date:'mediumDate' }} </span> -
    <span>  {{ dateRange.endDate | date:'mediumDate' }} </span>
    </div>
  