<mat-card class="cardWithShadow">
    <mat-card-content class="p-32">
      <div class="d-flex">
        <mat-card-title class="f-s-18 m-b-0 m-t-5">Total Earnings</mat-card-title>
        <div class="m-l-auto">
          <button mat-fab color="primary" class="icon-48">
            <i-feather name="dollar-sign" class="icon-20"></i-feather>
          </button>
        </div>
      </div>
      <h4 class="m-b-4 m-t-30 p-t-6 f-w-500 f-s-30">$93,438.78</h4>
      <h6 class=" f-s-15 f-w-400 m-t-6 m-0">Monthly Revenue</h6>
    </mat-card-content>
  </mat-card>
  