<mat-card class="cardWithShadow bg-primary text-white">
  <mat-card-content class="p-32">
    <div class="d-flex">
      <mat-card-title>Earnings</mat-card-title>
      <div class="m-l-auto">
        <button mat-fab color="accent" class="icon-48">
          <i-feather name="dollar-sign" class="icon-21"></i-feather>
        </button>
      </div>
    </div>
    <h4 class="mat-h2 m-b-6 m-t-25 f-s-30 f-w-500">$93,438.78</h4>
    <h6 class="op-5 mat-subtitle-2 text-white">Monthly Revenue</h6>
  </mat-card-content>
</mat-card>
