<mat-card class="cardWithShadow">
  <mat-card-content class="p-0">
    <mat-tab-group mat-stretch-tabs="false" animationDuration="0ms">

      <!-- Profile -->
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="d-flex align-items-center">
            <mat-icon>
              <i-tabler name="user-circle" class="icon-20 m-r-8"></i-tabler>
            </mat-icon>
          </div>
          Profile
        </ng-template>
        <mat-card-content class="p-y-24 b-t-1">

          <div class="row">


            <div class="col-12">

              <mat-card-content>
                <mat-card-title>Personal Details</mat-card-title>
                <mat-card-subtitle class="mat-body-1">To change your personal detail , edit and save from
                  here</mat-card-subtitle>

                <div class="row m-t-24">
                  <div class="col-sm-6">
                    <!-- input -->
                    <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">First Name</mat-label>
                    <mat-form-field appearance="outline" class="w-100" color="primary">
                      <input matInput type="text" value="Mathew Anderson" />
                      <mat-icon matPrefix class="op-5">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                          fill="#5f6368">
                          <path
                            d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z" />
                        </svg>
                      </mat-icon>
                    </mat-form-field>

                    <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Last Name</mat-label>
                    <mat-form-field appearance="outline" class="w-100" color="primary">
                      <input matInput type="text" value="Mathew Anderson" />
                      <mat-icon matPrefix class="op-5">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                          fill="#5f6368">
                          <path
                            d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z" />
                        </svg>
                      </mat-icon>
                    </mat-form-field>

                  </div>
                  <div class="col-sm-6">

                    <!-- input -->
                    <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Email</mat-label>
                    <mat-form-field appearance="outline" class="w-100" color="primary">
                      <input matInput type="email" value="info@modernize.com" />
                      <mat-icon matPrefix class="op-5">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                          fill="#5f6368">
                          <path
                            d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z" />
                        </svg>
                      </mat-icon>
                    </mat-form-field>
                    <!-- input -->
                    <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Role</mat-label>
                    <mat-form-field appearance="outline" class="w-100" color="primary">
                      <mat-select value="in">
                        <mat-option value="in">Admin</mat-option>
                        <mat-option value="us">Office</mat-option>
                      </mat-select>
                      <mat-icon matPrefix class="op-5">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                          fill="#5f6368">
                          <path
                            d="M160-240v-480 172-12 320Zm0 80q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h240l80 80h320q33 0 56.5 23.5T880-640v131q-18-13-38-22.5T800-548v-92H447l-80-80H160v480h283q3 21 9.5 41t15.5 39H160Zm400 0v-22q0-45 44-71.5T720-280q72 0 116 26.5t44 71.5v22H560Zm160-160q-33 0-56.5-23.5T640-400q0-33 23.5-56.5T720-480q33 0 56.5 23.5T800-400q0 33-23.5 56.5T720-320Z" />
                        </svg>
                      </mat-icon>
                    </mat-form-field>

                  </div>

                </div>
              </mat-card-content>

            </div>
          </div>
        </mat-card-content>
      </mat-tab>





      <!-- Company details -->
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="d-flex align-items-center">
            <svg class="icon-20 m-r-8" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
              width="24px" fill="#5f6368">
              <path
                d="M120-120v-560h160v-160h400v320h160v400H520v-160h-80v160H120Zm80-80h80v-80h-80v80Zm0-160h80v-80h-80v80Zm0-160h80v-80h-80v80Zm160 160h80v-80h-80v80Zm0-160h80v-80h-80v80Zm0-160h80v-80h-80v80Zm160 320h80v-80h-80v80Zm0-160h80v-80h-80v80Zm0-160h80v-80h-80v80Zm160 480h80v-80h-80v80Zm0-160h80v-80h-80v80Z" />
            </svg>
          </div>
          Company
        </ng-template>
        <mat-card-content class="p-y-24 b-t-1">
          <div class="row justify-content-center">
            <div class="col-sm-6">
              <app-change-logo-image></app-change-logo-image>
            </div>

            <!-- Password reset -->
            <div class="col-sm-6">
              <!-- <mat-card class="cardWithShadow"> -->
    
                <mat-card-content>
                  <mat-card-title>Company Details</mat-card-title>
                  <mat-card-subtitle class="mat-body-1">To change your personal detail , edit and save from
                    here</mat-card-subtitle>

                  <div class="row m-t-24">
                    <div class="col-sm-6">
                      <!-- input -->
                      <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"> Name</mat-label>
                      <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput type="text" value="AA GROUP" />
                        <mat-icon matPrefix class="op-5"> <svg class="icon-20 m-r-8" xmlns="http://www.w3.org/2000/svg"
                            height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368">
                            <path
                              d="M120-120v-560h160v-160h400v320h160v400H520v-160h-80v160H120Zm80-80h80v-80h-80v80Zm0-160h80v-80h-80v80Zm0-160h80v-80h-80v80Zm160 160h80v-80h-80v80Zm0-160h80v-80h-80v80Zm0-160h80v-80h-80v80Zm160 320h80v-80h-80v80Zm0-160h80v-80h-80v80Zm0-160h80v-80h-80v80Zm160 480h80v-80h-80v80Zm0-160h80v-80h-80v80Z" />
                          </svg></mat-icon>
                      </mat-form-field>
                      <!-- input -->
                      <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Phone</mat-label>
                      <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput type="text" value="+961 2288900" />
                        <mat-icon matPrefix class="op-5"> <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                            viewBox="0 -960 960 960" width="24px" fill="#5f6368">
                            <path
                              d="M798-120q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-386q31 31 65 57.5t72 48.5l94-94q9-9 23.5-13.5T670-390l138 28q14 4 23 14.5t9 23.5v162q0 18-12 30t-30 12ZM241-600l66-66-17-94h-89q5 41 14 81t26 79Zm358 358q39 17 79.5 27t81.5 13v-88l-94-19-67 67ZM241-600Zm358 358Z" />
                          </svg></mat-icon>
                      </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                      <!-- input -->
                      <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Email</mat-label>
                      <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput type="email" value="info@modernize.com" />
                        <mat-icon matPrefix class="op-5"> <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                            viewBox="0 -960 960 960" width="24px" fill="#5f6368">
                            <path
                              d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z" />
                          </svg></mat-icon>
                      </mat-form-field>

                      <!-- input -->
                      <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Website</mat-label>
                      <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput type="text" value="www.abc.com" />
                        <mat-icon matPrefix class="op-5"> <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                            viewBox="0 -960 960 960" width="24px" fill="#5f6368">
                            <path
                              d="M480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-155.5t86-127Q252-817 325-848.5T480-880q83 0 155.5 31.5t127 86q54.5 54.5 86 127T880-480q0 82-31.5 155t-86 127.5q-54.5 54.5-127 86T480-80Zm0-82q26-36 45-75t31-83H404q12 44 31 83t45 75Zm-104-16q-18-33-31.5-68.5T322-320H204q29 50 72.5 87t99.5 55Zm208 0q56-18 99.5-55t72.5-87H638q-9 38-22.5 73.5T584-178ZM170-400h136q-3-20-4.5-39.5T300-480q0-21 1.5-40.5T306-560H170q-5 20-7.5 39.5T160-480q0 21 2.5 40.5T170-400Zm216 0h188q3-20 4.5-39.5T580-480q0-21-1.5-40.5T574-560H386q-3 20-4.5 39.5T380-480q0 21 1.5 40.5T386-400Zm268 0h136q5-20 7.5-39.5T800-480q0-21-2.5-40.5T790-560H654q3 20 4.5 39.5T660-480q0 21-1.5 40.5T654-400Zm-16-240h118q-29-50-72.5-87T584-782q18 33 31.5 68.5T638-640Zm-234 0h152q-12-44-31-83t-45-75q-26 36-45 75t-31 83Zm-200 0h118q9-38 22.5-73.5T376-782q-56 18-99.5 55T204-640Z" />
                          </svg></mat-icon>
                      </mat-form-field>

                    </div>
                    <div class="col-12">
                      <!-- input -->
                      <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Address</mat-label>
                      <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput type="text" value="Nabteih, South Lebanon" />
                        <mat-icon matPrefix class="op-5"> <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                            viewBox="0 -960 960 960" width="24px" fill="#5f6368">
                            <path
                              d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 294q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z" />
                          </svg></mat-icon>
                      </mat-form-field>
                    </div>
                  </div>
                </mat-card-content>

              <!-- </mat-card> -->
            </div>


            <!-- <div class="col-12">
              <mat-card class="cardWithShadow">
             
              </mat-card>
            </div> -->
          </div>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
    <div class="text-right p-24 p-t-0">
      <button mat-flat-button color="primary" class="m-r-8">Save</button>
      <button mat-stroked-button class="m-r-8 " style="border: 1px solid #045b33; color:#045b33">Cancel</button>
    </div>
  </mat-card-content>
</mat-card>