<mat-card class="cardWithShadow overflow-hidden">
  <img
    src="assets/images/backgrounds/blog-bg-2x.jpg"
    alt="Photo of a Shiba Inu"
    class="w-100"
  />
  <mat-card-content class="p-30">
    <span class="d-flex align-items-center gap-6"
      ><i-feather name="clock" class="icon-16 d-flex"></i-feather> 22 March,
      2023</span
    >
    <mat-card-title class="m-t-10"
      >Super awesome, React 18 is coming soon!
    </mat-card-title>
    <div class="d-flex align-items-center gap-6 m-b-24 p-b-10 m-t-10">
      <span class="text-white bg-primary rounded f-w-500 p-6 p-y-2 f-s-12">
        Medium
      </span>
      <span class="text-white bg-accent rounded f-w-500 p-6 p-y-2 f-s-12">
        Low
      </span>
    </div>
    <mat-divider></mat-divider>
    <div class="d-flex align-items-center justify-content-between m-t-15">
      <div class="d-flex align-items-center gap-6">
        <img
          src="assets/images/profile/user-2.jpg"
          width="40"
          alt="social"
          class="rounded-circle"
        />
        <img
          src="assets/images/profile/user-3.jpg"
          width="40"
          alt="social"
          class="rounded-circle"
        />
        <img
          src="assets/images/profile/user-4.jpg"
          width="40"
          alt="social"
          class="rounded-circle"
        />
      </div>
      <button
        mat-icon-button
        class="d-flex align-items-center justify-content-center"
      >
        <i-feather name="message-circle" class="icon-20 d-flex"></i-feather>
      </button>
    </div>
  </mat-card-content>
</mat-card>
