.InputsWholeRow{
  display: flex;
  justify-content: space-between;
  column-gap: 15px;

  .inputsInAdd{
      display: flex;
      flex-direction: row;
      column-gap: 5px;

      section{
          display: flex;
          flex-direction: row;
          column-gap: 5px;
          width: 100%;
          div {
              width: 100%;
              input, select{
                  width: 100%;
                  border:  1px solid lightgray;
                  border-radius: 10px;
                  padding: 10px 5px;
               }
          }
      }

  }

  div button {
      min-width: 100px;
  }

  .TwoButtons {
      display: flex;
      flex-direction: row;
      column-gap: 10px;
  }

}

.four-sections-header{
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  .two-sections-header {
      width: 100%;
      display: flex;
      flex-direction: row;
      column-gap: 10px;
      div {
          width: 100%;
          .shadow-none{
              div{
                cursor: pointer;
                  display: flex;
                  flex-direction: column;
                  padding: 10px;
                  p {
                      margin: 0;
                      padding: 0;
                      font-size: 16px;
                  }
                  h3{
                      margin: 0;
                      padding: 0;
                      font-size: 24px;
                  }
              }
          }
      }
  }
}

.table-responsive {
  table {
      th, td, td span {
          cursor: pointer;
          font-size: 14px;
      }
  }

}

.element-td {
  div {
      display: flex;
      flex-direction: row;
      column-gap: 10px;
      align-items: center;
      justify-content: center;
  }
  a {
      cursor: pointer;
  }
}

.cardWithShadow {
  header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 5px;
  }
}

tr.example-detail-row {
  height: 0;
}

.example-element-row td {
  border-bottom-width: 0;
}


@media (max-width: 800px) {
  .InputsWholeRow{
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      .inputsInAdd{
          display: flex;
          flex-direction: column;
          row-gap: 5px;
  
          section{
              display: flex;
              flex-direction: row;
              column-gap: 5px;
              width: 100%;
              div {
                  width: 100%;
                  input, select{
                      width: 100%;
                      border:  1px solid lightgray;
                      border-radius: 10px;
                      padding: 10px 5px;
                   }
              }
          }
  
      }
      
      div {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          min-width: 100px;
      }
  
      .TwoButtons {
          display: flex;
          flex-direction: row;
          column-gap: 10px;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
      }

  
  }

  .four-sections-header{
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 0px;
      .two-sections-header {
          width: 100%;
          display: flex;
          flex-direction: row;
          column-gap: 10px;
          div {
              width: 100%;
          }
      }
  }
  
}

@media (max-width: 600px) {
  .cardWithShadow {
      header {
          display: flex;
          flex-direction: column;

          .filter-date{
              display: flex;
              justify-content: flex-end;
              align-items: flex-end;
          }
      }
  }

  .four-sections-header{
      .two-sections-header {
          div {
              .shadow-none{
                  div{
                      p {
                          font-size: 13px;
                      }
                  }
              }
          }
      }
  }
    
}



@media (max-width: 350px) {
  .InputsWholeRow{
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      .inputsInAdd{
          display: flex;
          flex-direction: column;
          row-gap: 5px;
  
          section{
              display: flex;
              flex-direction: column;
              row-gap: 5px;
              width: 100%;
              div {
                  width: 100%;
                  input, select{
                      width: 100%;
                      border:  1px solid lightgray;
                      border-radius: 10px;
                      padding: 10px 5px;
                   }
              }
          }
  
      }

  }
}




