.InputsWholeRow{
    display: flex;
    justify-content: space-between;

    .inputsInAdd{
        display: flex;
        flex-direction: row;
        column-gap: 10px;

        input {
            width: 80px;
            padding: 10px 5px;
            border:  1px solid lightgray;
            border-radius: 10px;
        }
    }

}


.searchbar {
    height: 35px;
}
  