<mat-card class="cardWithShadow">
  <mat-card-content class="p-t-24 m-b-15">
    <div class="d-flex align-items-center">
      <mat-card-title>Daily Activities</mat-card-title>
      <div class="m-l-auto">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <i-feather
            name="more-horizontal"
            class="icon-20"
          ></i-feather>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item>
            <span>Action</span>
          </button>
          <button mat-menu-item>
            <span>Another Action</span>
          </button>
          <button mat-menu-item>
            <span>Something else here</span>
          </button>
        </mat-menu>
      </div>
    </div>

    <img
      src="assets/images/backgrounds/blog-bg-2x.jpg"
      class="w-100 rounded m-t-20"
      alt="Photo of a Shiba Inu"
    />

    <h4 class="f-w-500 f-s-18 m-b-6 m-t-10">React 18 coming soon!</h4>
    <h6 class="mat-subtitle-2 f-s-14 m-0">By Johnathan Doe</h6>

    <p class="mat-subtitle-2 lh-sm m-t-20 m-b-10">
      This will be the small description for the news you have shown here. There
      could be some great info.
    </p>
    <button mat-flat-button color="accent">Read More</button>
  </mat-card-content>
</mat-card>
