<mat-card class="cardWithShadow earnings-bg">
  <mat-card-content class="p-32">
    <div class="d-flex justify-content-between align-items-center p-b-12">
      <div>
        <span class="f-s-18 mat-subtitle-2">Earnings</span>
        <h3 class="mat-headline-h5 f-s-24 f-w-500 m-t-6 m-b-0">$63,438.39</h3>
      </div>
      <button mat-fab class="shadow-none icon-48" color="primary">
        <i-feather name="dollar-sign" class="icon-20 d-flex"></i-feather>
      </button>
    </div>
    <button mat-flat-button color="accent" class="m-t-20">Download</button>
  </mat-card-content>
</mat-card>
