<div class="row">
  <div class="col-lg-6">
    <app-welcome-card></app-welcome-card>
    <div class="row">
      <div class="col-sm-6">
        <app-earnings></app-earnings>
      </div>
      <div class="col-sm-6">
        <app-monthly-sales></app-monthly-sales>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <app-sales-overview></app-sales-overview>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <app-total-sales></app-total-sales>
  </div>
  <div class="col-lg-8">
    <app-product-performance></app-product-performance>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <app-social-card></app-social-card>
  </div>
  <div class="col-lg-4">
    <app-weekly-stats></app-weekly-stats>
  </div>
  <div class="col-lg-4">
    <app-daily-activities></app-daily-activities>
  </div>
</div>
