<mat-card class="cardWithShadow bg-primary text-white">
  <mat-card-content class="p-32">
    <div class="d-flex">
      <mat-card-title>Earnings</mat-card-title>
      <div class="m-l-auto">
        <button mat-fab  class="shadow-none bg-white icon-48">
          <i-feather name="dollar-sign" class="d-flex mat-headline-5 icon-21"></i-feather>
        </button>
      </div>
    </div>
    <h4 class="mat-headline-5 text-white m-b-0 m-t-30">$93,438.78</h4>
    <h6 class="mat-subtitle-2 op-5 text-white">Monthly Revenue</h6>
  </mat-card-content>
</mat-card>
