<div class="row">
  <div class="col-lg-4">
    <app-earnings></app-earnings>
  </div>
  <div class="col-lg-8">
    <app-top-cards></app-top-cards>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <app-product-performance></app-product-performance>
  </div>
  <div class="col-lg-4">
    <div class="row">
      <div class="col-lg-12 col-sm-6">
        <app-monthly-revenue></app-monthly-revenue>
      </div>
      <div class="col-lg-12 col-sm-6">
        <app-yearly-sales></app-yearly-sales>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <app-recent-transactions></app-recent-transactions>
  </div>
  <div class="col-lg-8">
    <app-product-performance-table></app-product-performance-table>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <app-weekly-stats></app-weekly-stats>
  </div>
  <div class="col-lg-4">
    <app-medicalpro-branding></app-medicalpro-branding>
  </div>
  <div class="col-lg-4">
    <app-shop-daily-activities></app-shop-daily-activities>
  </div>
</div>
